@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

:root {
  --primary-color: #18c9f0;
  --secondary-color: #05060d;
  --white-color: #ffffff;
}
body {
  background-color: var(--secondary-color);
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(18px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: 30px;
  }
}
/* progress container */
.progress-container {
  position: fixed;
  width: 100%;
  height: 2.5px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 2.5px;
  background: orange;
  width: 0%;
  z-index: 999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.15s ease;
}

html {
  font-size: 72.5%;
  font-family: "Courier New", Courier, monospace;
}
body {
  overflow-x: hidden;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
.header {
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  width: 100%;
  background-color: #05060d;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: black;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid #18c9f0;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-color);
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}
.nav-item button {
  padding: 8px 15px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  color: var(--primary-color);
}
.nav-item:last-child button:hover {
  background: none;
  color: var(--white-color);
}
.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--white-color);
}

.nav-link:hover {
  color: var(--primary-color);
  font-weight: 800;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 800;
  color: var(--primary-color);
}
@media only screen and (max-width: 980px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 2px, 0, 0.05);
    z-index: 997;
  }

  .nav-menu.active {
    left: 0;
  }
  .nav-link {
    color: var(--white-color);
    font-weight: 800;
  }
  .nav-item {
    margin: 2rem 0;
  }
}

/* back to top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--primary-color);
  opacity: 0.6;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  font-size: 18px;
}

#myBtn:hover {
  background-color: orange;
}

main {
  width: 100%;
  margin-top: 70px;
  margin-left: 10%;
  color: white;
}
.section-title {
  padding-block: 30px;
  font-size: calc(20px + 6 * ((100vw - 320px) / 680));
}
.section-title span {
  color: orange;
  position: relative;
  white-space: nowrap;
  &:after {
    --deco-height: 0.3125em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.625);
    height: var(--deco-height);
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;
  }
}
.navigation {
  position: absolute;
  left: 2%;
  top: 10%;
  width: 90%;
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
}
.left-navbar {
  position: fixed;
  height: 80vh;
  background: none;
  width: 3vw;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #18c9f0;
}
.left-navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.left-navbar ul li {
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  border-radius: 50%;
  border: 1px solid #18c9f0;
}
.left-navbar ul li i {
  align-self: center;
}
.left-navbar ul li:hover {
  transform: scale(1.2);
}
.left-navbar ul li i {
  color: #18c9f0;
}
.left-navbar ul .logout {
  border: 1px solid red;
}
.left-navbar ul .logout i {
  color: red;
}

.content {
  color: white;
  margin-top: 5%;
}
.dashboard .card-container {
  display: flex;
  flex-wrap: wrap;
}
.card-container .card {
  background-color: #ccc;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  color: #111;
  font-weight: 800;
}
.card i {
  color: #111;
}

/* section reusable styles */
section {
  width: 90%;
  margin: 0 auto;
}
hr {
  width: 80%;
  margin: 20px;
}
.form-control h4 {
  padding-block: 30px;
  font-size: 20px;
}
section .update {
  padding: 5px 20px;
  border: 2px solid orange;
  border-radius: 10px;
  background-color: orange;
  height: 30px;
  align-self: flex-end;
}
section .update:hover {
  background: none;
  cursor: pointer;
  transform: scale(1.1);
  color: orange;
}
section textarea {
  padding: 5px;
  margin: 5px;
  width: 50%;
  border-radius: 10px;
}
section input {
  padding: 5px;
  border: none;
  margin: 4px;
}
section img {
  width: 100%;
}

/*  ends here */

/* section 1 starts here */
.section-1 .intro-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.intro-form .top {
  display: flex;
  flex-wrap: wrap;
}

.section-1 .form-control img {
  width: 40%;
}
.section-1 textarea {
  width: 60%;
  height: 120px;
}

/*  section 3 */
.table-container {
  width: 100%;
}
table {
  border: 1px solid #18c9f0;
  padding: 3px;
}
table {
  border-collapse: collapse;
  width: 80%;
}
table .delete {
  border-radius: 5px;
  padding: 5px;
  border: none;
  background: rgb(184, 26, 26);
  cursor: pointer;
  border: 1px solid rgb(184, 26, 26);
}
table .delete:hover {
  background: none;
  color: red;
}
table .delete i {
  color: white;
  font-size: 16px;
}
table .btn-add {
  padding: 5px;
  border: none;
  background-color: #18c9f0;
  border: 1px solid #18c9f0;
  font-weight: 800;
}
table .btn-add:hover {
  color: #18c9f0;
  background: none;
  cursor: pointer;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: rgb(161, 154, 151);
  cursor: pointer;
}
.img-container {
  width: 50px;
  border-radius: 5px;
}

.section-4 fieldset {
  padding: 10px;
  background-color: #111;
  width: 80%;
  margin-bottom: 20px;
}
.section-4 fieldset form {
  /* display: flex-start; */
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-4 h4 {
  padding-block: 5px;
}
/* footer */

footer {
  background-color: black;
  padding: 20px;
  width: 100%;
  margin-top: 10px;
}
footer p {
  text-align: center;
  font-size: calc(10px + 6 * ((100vw - 480px) / 980));
  color: var(--white-color);
}

/* modAL */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  color: black;
}
.modal input {
  border: 2px solid black;
}
.modal .delete {
  background: red;
  padding: 8px 15px;
  font-weight: 800;
  border: 1px solid red;
  outline: none;
  border-radius: 10px;
}
.modal button{
  margin: 5px;
}
.modal button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
