.login {
  width: 100%;
  position: absolute !important;
  height: 400px;
  color: #fff;
  margin-top: 5%;
}
.error-box {
  border: 2px solid red;
  padding: 5px;
  color: red;
}
.login-container {
  background-color: #070216;
  padding: 20px;
  width: 60%;
  margin: 0 auto;
}
.login-form {
  width: 80%;
  margin-top: 2%;
}
.login-form input {
  padding: 10px;
  margin: 15px;
  width: 100%;
  background-color: #0b0229;
  outline: none;
  border: none;
  color: white;
}
.login-form input.error {
  border: 2px solid red;
}
form p {
  margin-left: 15px;
  font-size: 14px;
  padding-block: 20px;
}
form button {
  margin-left: 15px;
  margin-top: 10px;
  color: black;
  font-weight: 800;
}
form button i {
  color: black;
}
.error-box {
  display: none;
}
.error-msg {
  font-size: 13px;
}

/* login -responsiveness */
@media only screen and (max-width: 980px) {
  .login-container {
    width: 90%;
    padding: 10px;
  }
  .login-form {
    width: 90%;
  }
  input {
    margin-left: 0;
  }
}
