@media screen and (max-width: 900px) {
  nav {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    flex-wrap: wrap;
  }
  .nav-items > li > a {
    padding: 12px;
  }
}
