.login {
  position: absolute !important;
  top: 15%;
  left: 5%;
  right: 5%;
  background-color: #070216;
  height: 400px;
  padding-block: 20px;
}
.login h1 {
  width: 20%;
  margin-left: 70%;
}

form {
  position: absolute;
  left: 30%;
  top: 30%;
}
form input {
  padding: 10px;
  margin: 15px;
  width: 250%;
  background-color: #0b0229;
  outline: none;
  border: none;
}
form p {
  margin-left: 15px;
  font-size: 12px;
  padding-block: 20px;
}
form button {
  margin-left: 15px;
  margin-top: 10px;
  color: black;
  font-weight: 800;
}
form button i {
  color: black;
}
